* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system,  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: rgb(255, 251, 251);
    background-color: #112d49;
  }
